.PagingBar {
  padding-inline: 1rem;
  padding-block: 1rem;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.PagingBar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transition: all 200ms ease;
}
.PagingBar button:disabled {
  color: #999;
  cursor: default;
}
.PagingBar button.currentPage {
  font-size: 1.05em;
  font-weight: bold;
  color: black;
}
.PagingBar button:hover {
  transform: scale(1.15);
}
.PagingBar button.currentPage:hover,
.PagingBar button:disabled:hover {
  transform: none;
}