.ListPage {
  width: 100%;
  padding: 1rem;
}
.ListPage > h1 {
  width: fit-content;
  margin-inline: auto;
  color: #222222;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1em;
}

.listTable {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}

.listHeader {
  background-color: #e0e0e0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.listRow {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
.listRow:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.listHeader p,
.listRow p {
  padding-inline: 0.5rem;
  width: fit-content;
  text-align: center;
}

.listHeader p:nth-child(1),
.listRow p:nth-child(1) {
  width: 50px;
}
.listHeader p:nth-child(2),
.listRow p:nth-child(2) {
  flex: 1 0;
}
.listHeader p:nth-child(3),
.listRow p:nth-child(3) {
  width: 100px;
}
.listHeader p:nth-child(4),
.listRow p:nth-child(4) {
  width: 100px;
}
.listRow p.leftAlign {
  text-align: left;
}
.listRow a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.buttomBar {
  width: 100%;
  max-width: 800px;
  height: auto;
  position: relative;
  margin-inline: auto;
  padding: 0.5rem 0;
}
.buttomBar > a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #999;
  border-radius: 5px;
  color: black;
  padding: 0.5rem 1rem;
}
.buttomBar > a:hover {
  color: white;
  background-color: #999;
}